<nav>
	{% for item in site.data.navigation %}
		<a href="{{ item.link }}" id="nav_element">
			<span
			{% if page.url == item.link %}
				class="page_current"
			{% else %}
				class="page"
			{% endif %}>
				{{ item.name }}
			</span>
		</a>
	{% endfor %}
</nav>