<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page.title }}{% if page.part %} – Part {{ page.part }}{% endif %}">
<meta name="twitter:creator" content="@y_oudjana">
<meta name="twitter:description" content="{{ page.description }}">