.text_body {
	font-size: 16pt;
	line-height: 1.6;
	font-family: source-serif-regular, serif;
}

.sidebar {
	float: right;
	width: 30%;
	height: 90%;
	margin: 20px;
	border: 0px;
	border-left: 2px #5c5c5c;
	border-style: solid;
	padding: 20px
}

.contact_list {
	border-style: none;
	padding: 2px;
}
