@font-face {
	src: url("../fonts/source-sans-regular.woff2");
	font-family: "source-sans-regular";
}

@font-face {
	src: url("../fonts/source-serif-regular.woff2");
	font-family: "source-serif-regular";
}

@font-face {
	src: url("../fonts/iosevka-extended.woff2");
	font-family: "iosevka-extended";
}
