html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	background: #181818;
	font-family: source-sans-regular, sans-serif;
	color: white;
}

header {
	flex-shrink: 0;
	top: 0;
	margin: 0;
	background: black;
}

@media screen and (min-width: 500px) {
	header {
		min-height: 100px;
	}
}

.header_content {
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
}

@media screen and (min-width: 500px) {
	.header_content {
		margin-left: 50px;
		margin-top: 60px;
	}
}

.header_title {
	flex-grow: 1;
	font-family: iosevka-extended, monospace;
	font-size: 26pt;
}

.navigation_list {
	margin-top: 8px;
	font-size: large;
	flex-shrink: 0;
}

.content {
	flex-grow: 1;
}

footer {
	margin: 0;
	width: 100%;
	min-height: 100px;
	flex-shrink: 0;
	bottom: 0;

	background: black;
}

.footer_content {
	color: #5c5c5c;
	display: flex;
	flex-wrap: wrap;
}

.footer_text {
	margin: 20px;
	margin-bottom: 0;
	flex-grow: 1;
}

@media screen and (min-width: 300px) {
	.footer_text {
		margin-top: 40px;
		margin-bottom: 0;
	}
}

@media screen and (min-width: 400px) {
	.footer_text {
		margin: 40px;
		margin-bottom: 0;
	}
}

.contact_info {
	margin: 16px;
	margin-left: 0;
	padding-left: 5px;
	height: min-content;
	flex-shrink: 0;
	border: 0;
	border-left: 1px #5c5c5c;
	border-style: solid;
	vertical-align: middle;
}

@media screen and (max-width: 380px) {
	.contact_info {
		padding-top: 5px;
		padding-left: 0px;
		border-left: 0;
		border-top: 1px #5c5c5c;
		margin: 10px;
	}
}

.contact_logo {
	margin: 5px;
	display: inline-block;
	vertical-align: middle;
}

sup {
	vertical-align: top;
	font-size: 0.8em;
}

code {
	font-family: iosevka-extended, monospace;
	font-size: 0.8em;
	tab-size: 8ch;
}

a {
	color: #7385ff;
}

a:visited {
	color: #a883ff;
}

table, th, td {
	border: 2px #686868;
	border-style: solid;
	border-collapse: collapse;
	padding: 10px;
	margin-bottom: 20px;
}

h1, h2, h3, h4 {
	margin-top: 16px;
	margin-bottom: 4px;
	margin-left: 0;
}

ol {
	margin-top: 2px;
}

blockquote {
	font-style: italic;
	color:#cecece;
	border-left: 2px #cecece;
	border-left-style: solid;
	padding-left: 16px;
}