.post_list {
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
}

@media screen and (min-width: 1100px) {
	.post_list {
		margin-left: 20%;
		margin-right: 20%;
	}
}

.post_list_title {
	margin-bottom: 20px;
}

.post_entry {
	padding-bottom: 40px;
	display: flex;
}

.post_cover {
	margin-right: 20px;
	width: 30%;
	border-radius: 10px;
	overflow: hidden;
}

.post_cover img {
	display: block;
	overflow: hidden;
	height: 100%;
	object-fit: cover
}

.post_info {
	flex-grow: 1;
}

.post_title_link {
	text-decoration: none;
	margin-bottom: 10px;
}

.post_title {
	display: inline-block;
	font-size: 24pt;
	font-style: normal;
	text-decoration: none;
}

.post_title:hover {
	text-decoration: underline dotted 4px;
}

.post_subtitle {
	margin-top: 5px;
	font-size: 18pt;
}

.post_desc {
	margin-bottom: 10px;
	font-size: 16pt;
	font-family: source-serif-regular, serif;
	font-style: normal;
}

.post_info {
	font-size: 12pt;
	font-style: italic;
}