<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="application-name" content="-EMAINLINE;">
		<meta name="description" content="{{ page.description }}">
		<meta name="keywords" content="linux, mainline, kernel, mobile, porting,">
		<meta name="viewport" content="width=device-width"/>
		{% include twitter.html %}
		{% include og.html %}
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/styles.css">
	</head>
	<body>
		{% include header.html %}
		<div class="content">{{ content }}</div>
		{% include footer.html %}
	</body>
</html>