---
layout: default
---
<div class="post">
	<div class="post_header">
		<h1 class="title">{{ page.title }}</h1>
		<h2 class="subtitle">{{ page.subtitle }}</h2>
		<div class="info">
			<div class="avatar">
				<img src="{{ site.url }}/assets/images/avatar/{{ page.author }}.png"
				width="50px">
			</div>
			<div class="info_text">
				<div class="author">{{ page.author }}</div>
				<br>
				<div class="date">
					Posted on {{ page.date | date_to_string: "ordinal" }}
				</div>
			</div>
		</div>
	</div>
	<div class="post_body">{{ content }}</div>
</div>